@media (min-width: 768px){
    .main__planes__afiches{
        display: static;
        width: 600px;
        height: 350px;
        margin: 0 auto;
 
    }

    .main__planes__afiches__1{
        margin: 20px 10px;
    }
    .main__info__tablas{
        width: 500px;
        margin: 0 auto;
    }
    .main__info__tablas__tabla1{
        width: 250px;
        height: 300px;
        margin: 0 10px;
        scroll-snap-align: center;
    
    }
    .main__info__tablas__tabla2{
        width: 250px;
        height: 300px;
        margin: 0 10px;
        scroll-snap-align: center;
    
    }
}

@media (min-width: 1024px){
    .main__caracteristicas__afiches{
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        padding-bottom: 50px;
    }
}